{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row margin-h-2">
            <div class="col-md-2">
                <ul class="nav nav-pills flex-column" id="categoryTab" role="tablist">
                    {% if category == 'about' %}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data="about"
                               href="{% url 'about_view' %}?category=about">关于我们</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data="concat"
                               href="{% url 'about_view' %}?category=concat">联系我们</a>
                        </li>
                    {% else %}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data="about"
                               href="{% url 'about_view' %}?category=about">关于我们</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data="concat"
                               href="{% url 'about_view' %}?category=concat">联系我们</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-8">
                <div class="product__wrap">
                    <ol class="breadcrumb">
                        {% if category == 'about' %}
                            <li class="breadcrumb-item"><a href="/">首页</a></li>
                            <li class="breadcrumb-item active" aria-current="page">关于我们</li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="/">首页</a></li>
                            <li class="breadcrumb-item active" aria-current="page">联系我们</li>
                        {% endif %}
                    </ol>
                    <div class="content">
                        {{ info.content | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}