<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load site_extra %}
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/var.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/iconfont.js' %}"></script>
    <style>
        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
</head>

<body>
<div class="layout">
    <!-- 头部导航 start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img alt="Brand" class="logo-img" src={% static 'img/logo.png' %}>
                <!-- <i class="iconfont icon-shulin"></i> -->
                <span>网站名称</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">首页</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'product_list' %}">产品展示</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'case_index' %}">案例展示</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'news_list' %}">新闻动态</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about_view'%}">关于我们</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about_view'%}?category=concat">联系我们</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 头部导航结束 end-->
    {% block banner %}
        <!-- banner图片区域 start-->
{#        {% show_banners %}#}
        <!-- banner图片区域 end-->
    {% endblock %}
    {% block content %}
        <!-- 主体内容 -->
    {% endblock %}
    <!-- footer start -->
    <footer>
        <div class="link-wrap">
            <span>友情链接</span>
            <ul>
                <li><a href="">百度</a></li>
                <li><a href="">知乎</a></li>
                <li><a href="">腾讯</a></li>
                <li><a href="">阿里</a></li>
            </ul>
        </div>
        <div class="archival-wrap">
            <span class="archival-wrap__text">Copyright © 2012-2018 某某公司 版权所有</span>
            <span>备案号：</span>
            <a href="http://beian.miit.gov.cn/" rel="nofollow" target="_blank">琼ICP备xxxxxxxx号</a>
        </div>
    </footer>
    <!-- footer end -->
</div>
</body>

</html>