{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row margin-h-2">
            <div class="col-md-8 offset-2">
                <div class="product__wrap">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">首页</a></li>
                            <li class="breadcrumb-item active">案例展示</li>
                        </ol>
                    </nav>
                    <div class="row">
                        {% for case in  case_list %}
                            <div class="card my-4 shadow">
                                <div class="card-body">
                                    <a class="text-decoration-none text-dark stretched-link" href="{% url 'case_detail' case.id %}">
                                        <h5>{{ case.title }}</h5>
                                    </a>
                                    <img class="img-responsive img-text-around"
                                         src="{{ MEDIA_URL }}{{ case.pic }}" alt="">
                                    {{ case.content | safe | truncatechars_html:100 }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}