{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- 主体内容 start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="about">
                    {#                    <p class="text-center about__title">关于我们</p>#}
                    {#                    <p class="text-center text-uppercase about__title primary-color">about us</p>#}
                    <div class="about__desc">
                        {{ about.content | safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg margin-h-2">
            <!-- 产品展示 start -->
            <div class="col-md-8 offset-md-2">
                <div class="product__wrap">
                    <div class="product__top__wrap">
                        <span class="product__wrap__title">产品展示</span>
                        <a href="{% url 'product_list' %}">
                            <span class="product__wrap__more">查看更多</span>
                        </a>
                    </div>
                    <!-- <div class="product__content__wrap"></div> -->
                    <div class="row">
                        {% for product in  product_list %}
                            <div class="col-md-3">
                                <div class="card my-2 shadow-sm">
                                    <img src='{{ MEDIA_URL }}{{ product.pic }}' class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text">{{ product.intro }}</p>
                                        <div>
                                            <span>最低价：</span>
                                            <span>{{ product.price }}</span>
                                        </div>
                                        {% comment %} <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary stretched-link">查看简介</a> {% endcomment %}
{#                                        <a href="{% url 'product_detail' product.pk %}" class="stretched-link"></a>#}
                                        <a href="{% url 'product_detail' product.pk %}" class="card-link">详细介绍</a>
                                        <a href="{% url 'product_specs' product.pk %}" class="card-link">详细报价</a>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            暂无数据...
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- 产品展示 end -->
            <!-- 案例展示 start -->
            <div class="col-md-8 offset-md-2">
                <div class="case__wrap">
                    <div class="product__top__wrap">
                        <span class="product__wrap__title">案例展示</span>
                        {#                        <a href="{% url 'case_index' %}"> <span class="product__wrap__more">查看更多</span></a>#}
                    </div>
                    {% for case in case_list %}
                        <div class="row">
                            <div class="case__box">
                                <a href="{% url 'case_detail' case.id %}">
                                    <h4>{{ case.title }}</h4>
                                </a>
                                <img class="img-responsive img-text-around" src="{{ MEDIA_URL }}{{ case.pic }}" alt="">
                                {{ case.content | safe | truncatechars_html:100 }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- 案例展示 end -->
            <!-- 新闻中心 start -->
            <div class="col-md-8 offset-md-2">
                <div class="news__wrap">
                    <div class="product__top__wrap">
                        <span class="product__wrap__title">新闻中心</span>
                        </span>
                        {#                        <span class="product__wrap__more">查看更多</span>#}
                    </div>
                    {% for news in news_list %}
                        <div class="row">
                            <div class="news__box">
                                <a href="{% url 'news_detail' news.id %}">
                                    <h4>{{ news.title }}</h4>
                                </a>
                                <img class="img-responsive img-text-around" src='{{ MEDIA_URL }}{{ news.pic }}' alt="">
                                {{ news.content | safe | truncatechars_html:200 }}
                            </div>
                        </div>
                    {% empty %}
                        暂无数据...
                    {% endfor %}
                </div>
            </div>
            <!-- 新闻中心 end -->
        </div>
    </div>
    <!-- 主体内容结束 -->
{% endblock content %}