{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row margin-h-2">
            <div class="col-md-8 offset-2">
                <div class="product__wrap">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">首页</a></li>
                            <li class="breadcrumb-item active">新闻中心</li>
                        </ol>
                    </nav>
                    {% for news in  page.object_list %}
                        <div class="card my-4 shadow">
                                <div class="card-body">
                                    <a class="text-decoration-none text-dark stretched-link" href="{% url 'news_detail' news.id %}">
                                        <h5>{{ news.title }}</h5>
                                    </a>
                                    <img class="img-responsive img-text-around"
                                         src="{{ MEDIA_URL }}{{ news.pic }}" alt="">
                                    {{ news.content | safe | truncatechars_html:100 }}
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}