{% extends 'base.html' %}
{% block content %}
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-md-8 offset-2">
                    <div class="product__wrap">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">首页</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'news_list' %}">新闻中心</a></li>
                            <li class="breadcrumb-item active">{{ news.title }}</li>
                        </ol>
                        <div class="content">
                            {{ news.content | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}