{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row margin-h-2">
            <div class="col-md-2">
                <h4>产品分类</h4>
                <ul class="nav nav-pills flex-column" id="categoryTab" role="tablist">
                {% for category in categories %}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {% if category.id == category_id %} active{% endif%}" data="{{ category.id }}"
                                href="{% url 'product_list' %}?category_id={{ category.id }}">{{ category.name }}</a>
                        </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-8">
                <div class="product__wrap">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% if category_id %}
                                <li class="breadcrumb-item"><a href="/">首页</a></li>
                                <li class="breadcrumb-item"><a href="/">产品中心</a></li>
                                <li class="breadcrumb-item active">{{ category_name }}</li>
                            {% else %}
                                <li class="breadcrumb-item"><a href="/">首页</a></li>
                                <li class="breadcrumb-item active">产品中心</li>
                            {% endif %}
                        </ol>
                    </nav>
                    <!-- <div class="product__content__wrap"></div> -->
                    <div class="row">
                        {% for product in page.object_list %}
                            <div class="col-md-3">
                                <div class="card my-2 shadow-sm">
                                    <img src='{{ MEDIA_URL }}{{ product.pic }}' class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text">{{ product.intro }}</p>
                                        <div>
                                            <span>最低价：</span>
                                            <span>{{ product.price }}</span>
                                        </div>
                                        {% comment %} <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary stretched-link">查看简介</a> {% endcomment %}
                                        {#                                        <a href="{% url 'product_detail' product.pk %}" class="stretched-link"></a>#}
                                        <a href="{% url 'product_detail' product.pk %}" class="card-link">详细介绍</a>
                                        <a href="{% url 'product_specs' product.pk %}" class="card-link">详细报价</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    <script src="{% static 'js/product.js' %}"></script>#}
{% endblock %}