{% extends 'base.html' %}
{% block content %}
    <!-- 主体内容 start -->
    <div class="container-fluid">
        <div class="row margin-h-2">
            <div class="col-md-2">
                <h4>产品分类</h4>
                <ul class="nav nav-pills flex-column" id="categoryTab" role="tablist">
                    {% for category in categories %}
                        <li class="nav-item" role="presentation">
                            <a class="nav-link {% if category.id == product.category.id %}active{% endif %}"
                               data="{{ category.id }}"
                               href="{% url 'product_list' %}?category_id={{ category.id }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-8">
                <div class="product__wrap">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">首页</a></li>
                            <li class="breadcrumb-item"><a href="/">产品中心</a></li>
                            <li class="breadcrumb-item active">{{ product.name }}</li>
                        </ol>
                    </nav>
                    <div class="content">
                        {{ product.content | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 主体内容结束 -->
{% endblock %}